/**
	 Common style
*/

/**
	----------
	#ELEMENTS
	----------
*/

body {
	font-family:  Calibri;
	background: url(../resource/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
}

h1,h2,h3,h4,h5 {
	text-align:center;
	font-family: Consolas;
}	

h1 { font-size:2em; }
h2 { font-size:1.8em; }
h3 {
	font-size:1.6em;
}

h4 {
	font-size:1.4em;
}

h5 {
	font-size:1.2em;
}

h6 {
	font-size:1em;
}

p , em {
	font-size:1em;
}

img {			
    width: 100%;			
}

input,textarea, button {
	font-family: Consolas;
	padding: 1%;
}

textarea {
	width:25%;
}

ul {
	list-style-type:none;
}



select {
	width:67%;
	padding: 5px;
}

em {
	font-style: italic;
}

a: visited {
	text-decoration: none;
}



/**
	----------
	#OTHERS
	----------
*/

.radius-small {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:none;
}

.mynav li a {
	font-size:1.2em;
	font-family: EuroRoman;
	color:#000000;
	text-decoration: none;
	font-weight: bold;
	padding:15px;
}

.mynav li {
	display: inline-block;
	
}

.text-center {
	text-align: center;
}

.mynav {
	display: block;
}

.center {
	margin: 0 auto;
}

.container {
	background:rgba(255,255,255,0.75);
	width: 90%;
	margin-top:2.5%;
	padding: 2.5%;
}

.clearfix {
	overflow: auto;
}

.bottomed {
	border-bottom:thin dotted #000000;
}

.field {
	width:100%;
	
}

.field-small {
	width:15%;
}

.module {
	width: 50%;
	float:left;
}

input.ng-invalid.ng-touched {
background-color: #FA787E;
}

input.ng-valid.ng-touched {
background-color: #78FA89;
}


.err-msg {

	color:red;

}

/**
	----------
	#MEDIAQUERIES
	----------
*/

/**
	Smartphone-esque widths
*/
@media screen and (max-width: 500px) {

	h1 {
		font-size:1.5em;
	}

	h2 {
		font-size:1.35em;
	}

	h3 {
		font-size:1.2em;
	}

	h4 {
		font-size:1.05em;
	}

	h5 {
		font-size:0.9em;
	}

	h6 {
		font-size:0.75em;
	}

	p, em {
		font-size:0.75em;
	}
	
	.module {
		width: 100%;
	}

}