/** jus practisin */

ul {
	list-style-type:none;
}

li:first-of-type {
	text-align:center;
	font-weight: bold;
}

li:nth-child(3) {
	font-style:italic;
}

.card {
	background:rgba(0,255,255,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p {
	font-family: Consolas;
	padding:5px;
	font-weight:bold;
}

textarea {
	font-family: Consolas;
}

.input {
	font-style: italic;
}