<div class="[ todo-item-container ]">


	<div ng-show="indivTask">
		<h2><em>{{indivTask.title}}</em></h2>
		<p>todoid : {{$routeParams.taskId}}</p>
		<p>Category:</p><em>{{indivTask.category}}</em>
		<p>Details:</p><em>{{indivTask.details}}</em>
		<p>Status:<p><em ng-show="indivTask.complete">Complete</em><em ng-hide="indivTask.complete">Incomplete</em>
		<p>Deadline Day:</p><em>{{indivTask.deadline}}</em>
	</div>

	<div ng-hide="indivTask">

		<h1>Item doesnt exist</h1>
		<p>add a new item here:</p>

		<ai-todo-form></ai-todo-form>

	</div>

</div>