<h2>Daily Activity</h2>
<div  class="[ row ]">
	<div ng-controller="DailyController">
		<div class=" [  center  col  col--4  col--innercol  ] ">
			<h5>Angular Add new Task to "Daily Activity":</h5>
			<form id="daily-form-ng">
				<input ng-model="daily.title" placeholder="Enter title of task..." name="addTitle" id="title-input-ng" class="[ field  radius-small ]" required>
				<input ng-model="daily.details" placeholder="Enter details of task..." name="addDetails" id="details-input-ng" class="[ field  radius-small ]" required>
				<input ng-model="daily.start" type="datetime-local"  placeholder="Enter start  time"  class="[ field  radius-small ]" required>
				<input ng-model="daily.finish" type="datetime-local" placeholder="Enter finish  time"  class="[ field  radius-small ]" required>
				<input ng-click="populate(daily)" type="button" value="Add Daily Task!" class="[ js-add-button ]">
			</form>	
		</div>
		<div class=" [  center  col  col--8  col--innercol  col--8  ] ">
			<h5>Angular Daily Activity:</h5>
			<ul id="js-container-complete-ng" class="[ output-list ]" >
				<li ng-repeat="daily in dailyList" class="[ bottomed ]">
					<p><em>{{daily.title}}</em></p>
					<p>{{daily.details}}</p>
					<p>Started on : {{daily.start}}</p>
					<p>Finished on : {{daily.finish}}</p>
					<button ng-click="deleteDailyTask(daily.id)">Delete</button>
				</li>
			</ul>
		</div>
	</div>
</div>