<div ng-controller="TodoFilterController" class="[ grid ]">

	<h2>ToDo Filters</h2>

	<div class="[ row ]">
		<div class="[ col col--8 ]">
			<h3>Apply Filter</h3>
			<button ng-click="myFilter = filterComplete">Show All completed Tasks</button>
			<button ng-click="myFilter = filterIncomplete">Show all incomplete tasks</button>
			<button ng-click="myFilter = null">Clear Filters</button>
		</div>
		<div class="[ col col--4 col--innercol col--last ]">
		</div>
	</div>

	<div class="[ row bottomed ]">
		<div class="[ col col--2 col--innercol ]">
			<h5>ID Of task</h5>
		</div>
		<div class="[ col col--2 col--innercol ]">
			<h5>Title Of task</h5>
		</div>
		<div class="[ col col--2 col--innercol ]">
			<h5>Category</h5>
		</div>
		<div class="[ col col--2 col--innercol ]">
			<h5>Details</h5>
		</div>
		<div class="[ col col--2 col--innercol ]">
			<h5>Status</h5>
		</div>
		<div class="[ col col--2 col--innercol col--last ]">
			<h5>Deadline Day</h5>
		</div>
	</div>

	<ul id="js-container-incomplete-ng" class="[ output-list ]">
		<li ng-repeat="task in toDoList | filter : myFilter" class="[ row ]">
			<div class="[ row bottomed ]">
				<div class="[ col col--2 col--innercol ]">
					<p>{{task.id}}</p>
				</div>
				<div class="[ col col--2 col--innercol ]">
					<p>{{task.title}}</p>
				</div>
				<div class="[ col col--2 col--innercol ]">
					<p>{{task.category}}</p>
				</div>
				<div class="[ col col--2 col--innercol ]">
					<p>{{task.details}}</p>
				</div>
				<div class="[ col col--2 col--innercol ]">
					<em ng-show="task.complete">Complete</em><em ng-hide="task.complete">Incomplete</em>
				</div>
				<div class="[ col col--2 col--innercol col--last ]">
					<em>{{task.deadline}}</em>
				</div>
			</div>
		</li>
	</ul>
	
</div>