<div  class="[ row ]">
	<div ng-controller="TodoController">
		<div class=" [  center  col  col--4  col--innercol  ] ">
			<h5>Angular Add new Task to "To do List":</h5>
			<ai-todo-form></ai-todo-form>	
		</div>
		
		<div class=" [  center  col  col--4  col--innercol  ] ">
			<h5>Angular To Do List:</h5>
			<ul id="js-container-incomplete-ng" class="[ output-list ]">
				<li ng-repeat="task in toDoList | filter:task.complete=false" class="[ bottomed ]">
					<div ai-todo-item></div>
				</li>
			</ul>
		</div>

		<div class=" [  center   col  col--4  col--innercol  col--last  ] ">
			<h5>Angular Completed tasks:</h5>
			<ul id="js-container-complete-ng" class="[ output-list ]">
				<li ng-repeat="task in toDoList | filter:task.complete=true" class="[ bottomed ]">
					<div ai-todo-item></div>
				</li>
			</ul>
		</div>
		
	</div>
</div>