<div class="[ todo-item-container ]">
	<p>Title :</p><a href="#todo/{{task.id}}"><em>{{task.title}}</em></a>
	<p>Category:</p><em>{{task.category}}</em>
	<p>Details:</p><em>{{task.details}}</em>
	<p>Deadline Day:</p><em>{{task.deadline}}</em>
	<button ng-show="task.complete" ng-click="toggleCompletion(task)">Uncomplete</button>
	<button ng-hide="task.complete" ng-click="toggleCompletion(task)">Complete</button>
	<button ng-click="deleteTask(task.id)">Delete</button>
</div>