<div>
	<p><em>{{task.title}}</em></p>
	<p>Category: {{task.category}}</p>
	<p>Details: {{task.details}}</p>
	<p>Deadline Day: {{task.deadline}}</p>
	<button ng-click="toggleCompletion(task)">Complete</button>
	<button ng-click="">Edit</button>
	<button ng-click="deleteTask(task.id)">Delete</button>
</div>