<form name="todoformng">

	<input ng-model="task.title" type="text" placeholder="Enter task title" name="addTitle" id="title-input-ng" class="[ field  radius-small ]" required ng-minlength="3" ng-maxlength="300">

	<div ng-messages="todoformng.addTitle.$error">
	    <div ng-message="required">You did not enter a field</div>
	    <div ng-message="minlength">Your field is too short</div>
	    <div ng-message="maxlength">Your field is too long</div>
  	</div>


	<input ng-model="task.category" type="text" placeholder="Enter Category of task" name="addCategory" id="category-input-ng" class="[ field  radius-small ]"  ng-maxlength="300">

	<div ng-messages="todoformng.addCategory.$error">
	    <div ng-message="maxlength">Your field is too long</div>
  	</div>

	<input ng-model="task.details" type="text" placeholder="Enter details of task..." name="addDetails" id="details-input-ng" class="[ field  radius-small ]"   ng-minlength="3" ng-maxlength="500">

	<div ng-messages="todoformng.addDetails.$error">
	    <div ng-message="minlength">Your field is too short</div>
	    <div ng-message="maxlength">Your field is too long</div>
  	</div>

	<p>Complete by: </p><input ai-date-valid ng-model="task.deadline" type="date" name="addDeadline" id="deadline-input-ng" class="[ field radius-small ]">

	<div ng-messages="todoformng.addDeadline.$error">
	    <div ng-message="pastDate">The date must be in the future</div>
	    <div ng-message="futureLimit">The date must be before 2100</div>
  	</div>

	<input ng-click="populate(task)"  type="button" value="Add Task!" class="[ js-add-button ]">
</form>