<ul id="js-container-incomplete-ng" class="[ output-list ]" >
	<li ng-repeat="task in toDoList | filter:task.complete=true" class="[ bottomed ]">
		<p>Title :</p><em>{{task.title}}</em>
		<p>Category:</p><em>{{task.category}}</em>
		<p>Details:</p><em>{{task.details}}</em>
		<p>Deadline Day:</p><em>{{task.deadline}}</em>
		<button ng-click="toggleCompletion(task)">Incomplete</button>
		<button ng-click="deleteTask(task.id)">Delete</button>
	</li>
</ul>