<nav class="[ mynav center bottomed ]">
	<ul class="[ text-center ]">
		<li><a href="#/">Home</a></li>
		<li><a href="#/todo">To do list</a></li>
		<li><a href="#/daily">Daily activity</a></li>
		<li><a href="#/filter">Filter</a></li>
	</ul>
</nav>
